@charset "utf-8";
/* CSS Document */
img.alignLeft {
	float:left;
	margin:7px 20px 5px 0;
	border:1px solid #c6d9e7;
}
img.alignRight {
	float:right;
	margin:7px 0 5px 20px;
	border:1px solid #c6d9e7;
}
.login-links {
    clear: both;
    padding: 11px 0 0 1px;
}
#login_form {
	margin-top:-10px;
}
#login_form div.login-links {
	padding-top:5px;
}
#login_form .checkbox {
	position:relative;
	top:2px;
	margin-right:2px;
}
#login_form div {
	padding:10px 0 4px 2px;
}
#login a {
    color: #48C8D7;
    font-size: 11px;
    font-weight: normal;
}
.sidebar-box {
	margin-bottom:20px;
	width:245px;
}
.blue-head h3 {
	background: url(images/blue-head.jpg) 0 0 no-repeat;
	color:#fff;
	font-weight:bold !important;
	font-size: 14px !important;
	vertical-align:middle;
	height: 24px;
	padding: 11px 0 0 18px;
	margin-bottom:0;
}
.blue-head .inner {
	border:1px solid #c6d0df;
	border-top:none;
	-moz-border-radius:0 0px 4px 4px;
	-webkit-border-radius:0 0px 4px 4px;
	border-radius:0 0px 4px 4px;
	padding:15px 12px;
	overflow:auto;
}
#rightcol {
	float:right;
	width:645px;
}
.sidebar-box dl {
	margin-bottom:10px;
	width:219px;
	overflow-x:hidden;
}
.sidebar-box dt {
	width:75px;
}
.sidebar-box dd {
	width:139px;
}
.green-btn {
	background:url(images/green-btn.png) 0 0 no-repeat;
	float:left;
	padding:0 0 0 25px !important;
	cursor:pointer;
	margin-right:5px;
}
.green-btn input, .green-btn span {
	border:none;
	background:url(images/green-btn.png) top right no-repeat;
	display:block;
	height: 35px;
	padding: 0 26px 5px 0;
	color:#fff;
	font-weight:bold;
	text-shadow: 1px 1px 1px #558722;
	text-align:center;
}
.green-btn:hover {
	background-position: 0 -38px;
}
.green-btn span {
	height: 27px;
	padding: 9px 25px 0 0;
}
.green-btn input:hover, .green-btn:hover span, .green-btn:hover input, .green-btn span:hover {
	background-position: right -38px;
	corsor:pointer;
}
.blue-btn {
	background:url(images/blue-btn.png) 0 0 no-repeat;
	float:left;
	padding:0 0 0 25px !important;
}
.blue-btn input, .blue-btn span {
	border:none;
	background:url(images/blue-btn.png) top right no-repeat;
	display:block;
	height: 35px;
	padding: 0 25px 5px 0;
	color:#2e4f7f;
	font-weight:bold;
	text-align:center;
}
.blue-btn span {
	height: 27px;
	padding: 11px 25px 0 0;
}
.blue-btn:hover {
	background-position: 0 -38px;
}
.blue-btn input:hover, .blue-btn:hover span, .blue-btn:hover input, .blue-btn span:hover {
	background-position: right -38px;
	corsor:pointer;
}
.blue-head .wide {
	width: 199px;
}
.bLink2 {
	background: url("images/read-more2.png") no-repeat scroll 0 0 transparent;
	color: #3F87FF;
	float: right;
	margin-top: 10px;
	padding-bottom: 2px;
	padding-left: 19px;
	width: 76px;
}
.green-quote {
	font-style:italic;
	line-height:18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding:10px;
	text-align:center;
	border:1px solid #bbe259;
	background:#f3f9e3;
}
