@charset "utf-8";
html, body {
	height:100%;
	text-align: center;
}
body {
	font:12px Arial, sans-serif;
	line-height: 150%;
	background-color: #DFE8EC;
	background-image: url(../images/page-bg.png);
	background-repeat: repeat-x;
	color:#323232;
	margin:0px auto;
}
#wrapper, #container {
	width:960px;
	margin:0 auto;
	text-align:left;
}
#header {
	height:130px;
	position:relative;
	z-index:30;
	margin-bottom:4px;
}
#logo {
	font-size:0;
	background: url(../images/logo.png) 0 0 no-repeat;
	float:left;
	width:650px;
	height:75px;
	margin-top: 6px;
}
#user-nav {
	position:absolute;
	top:23px;
	right:20px;
	color:#fff;
	padding-top:10px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
#user-nav a {
	color:#fff;
}
.intro_text {
	padding: 10px;
	margin-bottom:10px;
}
/*
#banner {
	background: url(../images/bkg.gif) repeat 0 0 transparent;
	width:960px;
	margin:0;
	padding:0;
}*/
#banner h3, #banner p {
	margin:0px;
	padding:12px;
	font-size:1.5em;
	font-weight:bolder;
	text-align:center;
	color: #E81C4A;
}
#home-featured {
	background: url(../images/highlight-fetured.jpg) no-repeat 0 0 transparent;
	height: 341px;
	margin-bottom: -30px;
	padding-top: 35px;
}
.left-featured {
	float:left;
	width:470px;
	height:330px;
	position:relative;
}
.left-featured img {
	margin:0px 0 0 11px;
}
.right-featured {
	float:left;
	padding-left:32px;
	width:455px;
	padding-top:22px;
}
.right-featured h1 {
	color:#fff;
	font-size:46px;
	font-weight:normal;
	margin-top:0px;
}
.right-featured h1 cufon {
	margin-bottom:-5px;
}
.right-featured p {
	font-size:17px;
	color:#d8f2f4;
	padding-top:22px;
}
.right-featured p cufon {
	margin-bottom:8px;
}
.right-featured .buttons {
	padding-top:30px;
}
#left {
	float:left;
	margin-right:9px;
}
#left #nav {
	background: #F9F9F9 url(../images/menu_dropdown_bg.png) 0 100% repeat-x;
	border: white 1px solid;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
}
#inside, #form_edit_user, #display {
	background: #fff;
	color: #666666;
	-moz-box-shadow:0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	padding: 10px 10px 15px;
	margin-bottom:20px;
}
#display {
	padding-top:30px;
}
#main-container {
	margin: 50px auto!important;
	width: 100%!important;
}
#form-container {
	-moz-box-shadow:0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	background-color:#FFF!important;
}
#main {
	float:left;
}
#main a:hover {
	color: #F18B01!important;
	text-decoration: underline!important;
}
#inside-title {
	height:83px;
	padding-top:40px;
}
#inside-title h1 {
	color:#fff;
	font-size:46px;
}
#inside-title .green-btn {
	float:right;
	margin-right:0;
}
#context {
	position:relative;
	width:960px;
	margin:0 auto;
}
/* columns */
#context.no-left.no-right #main {
	width:100%;
}
#context.no-left.yes-right #main, #context.yes-left.no-right #main {
	width: 77%;
}
#context.yes-left.yes-right #main {
	width: 54%
}
#context.yes-left #left {
	width:22%;
}
#context.yes-right #right {
	width: 22%;
}
#context.banner_1 {
	margin-top:50px;
}
#context.banner_2 {
	margin-top:50px;
	padding-top:0px;
}
.highlight {
	background: url(../images/nav-bg-h.png);
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav, #section {
	margin-bottom:20px;
}
#nav ul {
	margin:0;
	padding:0;
}
#nav ul li, #section ul li {
	background: url(../images/sidemenu-border.png) left bottom repeat-x;
}
#nav ul li.last, #section ul li.last {
	background: none;
}
#nav ul li:hover, #section ul li:hover {
	background:url(../images/menu_level2_item_hover.png) repeat-x, url(../images/sidemenu-border.png) left bottom repeat-x;
	cursor:pointer;
}
#nav ul li a:hover, #section ul li a:hover {
	color:#FF7900;
}
#nav ul li.active a, #section ul li.active {
	font-weight: bold;
	color:#FF7900!important;
}
#nav ul li a, #section ul li a {
	color:#323232;
	font-size:12px;
	text-decoration:none;
	padding:8px;
	display:block;
}
#contents .sidemenu .active a {
	color:#121b21;
}
#contents .sidemenu a:hover {
	color:#408fad;
}
#right {
	float:right;
	color: #646260;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0.75px;
	line-height: 22px;
	text-shadow: 1px 1px 0 #FFFFFF;
	word-spacing: 1px;
	overflow: hidden;
	word-wrap: break-word;
}
#right .innerbox {
	width:195px;
	padding:12px;
	border:1px solid #d9d9d9;
	background:#fff;
	-moz-border-radius:7px;
	margin-bottom:20px;
}
#contents #right p {
	line-height:18px;
	padding-bottom:0;
}
#contents .green-btn a {
	width:148px;
}
.rightcol .greenbox {
	background: #e6f2e0;
}
.greenbox .sdg {
	color:#031929;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:6px 0 10px 0;
}
.green-btn, .grey-btn, .green-btn-thin {
	float: left;
	margin-right: 10px;
}
.green-btn a {
	background: url(../images/green-btn.png) no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	font-size: 20px;
	padding:15px 0 16px 22px;
	font-weight:bold;
	text-align:center;
}
.green-btn span {
	background:url(../images/green-btn.png) top right no-repeat;
	float: left;
	height: 48px;
	width: 22px;
	cursor:pointer;
}
.grey-btn a {
	background: url(../images/grey-btn.png) no-repeat scroll 0 0 transparent;
	color: #888;
	float: left;
	font-size: 20px;
	padding:15px 0 16px 22px;
	font-weight:bold;
	text-align:center;
}
.grey-btn span {
	background:url(../images/grey-btn.png) top right no-repeat;
	float: left;
	height: 48px;
	width: 22px;
	cursor:pointer;
}
.green-btn:hover a, .grey-btn:hover a {
	background-position:0 -52px;
	text-decoration:none;
}
.green-btn:hover span, .grey-btn:hover span {
	background-position:right -52px;
}
.green-btn-thin {
	position:relative;
	overflow:hidden;
}
.green-btn-thin a {
	background: url(../images/green-btn-thin.png) no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	font-size: 19px;
	padding:10px 0 10px 22px;
	font-weight:bold;
	text-align:center;
	border:none;
}
.green-btn-thin span {
	background:url(../images/green-btn-thin.png) top right no-repeat;
	float: left;
	height: 38px;
	width: 22px;
	cursor:pointer;
}
.green-btn-thin:hover a {
	background-position:0 -42px;
	text-decoration:none;
}
.green-btn-thin:hover span {
	background-position:right -42px;
}
#ie7 .green-btn a, #ie7 .grey-btn a {
	padding:12px 2px 11px 22px
}
#ie7 .green-btn span, #ie7 .grey-btn span {
	position:relative;
	top:-24px;
}
.right-featured .buttons em {
	color:#0f416c;
	font-size:12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #d1e8ed;
	clear:both;
	padding-top:10px;
	padding-left:2px;
	display:block;
	font-style:normal;
}
#contents {
	color:#585858;
	min-height: 160px;
}
#contents h2 {
	color:#3c81a4;
	font-size:18px;
	font-weight:normal;
	padding:10px 0 0!important;
}
#contents h4 {
	font-size: 31px;
	color: #00275D;
	padding: 15px 0px;
	margin: 0px;
}
#contents p {
	padding:0 20px;
	font-size:13px;
}
#contents ul {
	padding:5px 0 5px 20px;
}
#contents ul li {
	padding:3px 0 5px 10px;
	background: url(../images/bullet.png) 0 9px no-repeat;
}
#contents ul.no-bullets li {
	background:none;
	padding-left:0px;
}
#contents ul li img {
	margin-right:5px;
}
#contents .content-box {
	background:#F7F8FB;
	padding:15px;
	margin:10px 0 20px;
	overflow: auto;
	-moz-border-radius:7px;
	-webkit-bodrer-radius:7px;
	border-radius:7px;
}
#contents .content-box h2 {
	color: #3C81A4;
	font-size: 18px;
	font-weight: normal;
	padding:0;
}
#contents .content-box h2 strong {
	font-weight:normal !important;
}
a.bLink2 {
	background: url("../images/read-more2.png") no-repeat scroll 0 0 transparent;
	color: #3F87FF;
	float: right;
	margin-top: 10px;
	padding-bottom: 2px;
	padding-left: 19px;
	width: 76px;
	font-weight:normal;
}
#upper {
	font-size: 12px;
	line-height: 25px;
	text-align:center;
	margin:0 auto;
	height: 65px;
	padding:16px 10px 0;
}
#sub-menus {
	display:none;
}
.rimg {
	max-height:20px;
	max-width:30px;
	border-collapse:collapse;
}
div#right {
	vertical-align:top;
}
#context #contents .box h4, #intro h3 {
	background: url("../images/module_box_corners.png") repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
#intro h3 {
	margin:0;
	padding:10px;
}
#contents .box h1 {
	font-size: 18px;
	font-weight: normal;
	height: 35px;
	line-height: 35px;
	margin: -10px -10px 0;
	padding-left: 10px;
	padding-top: 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
#intro {
	margin-top:10px;
}
.box {
	background: #fff;
	color: #666666;
	padding: 10px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-bottom: 3px solid #85929A;
	margin-bottom:10px;
	text-align:left;
}
.box a {
	text-decoration:none;
}
.box >div {
	padding:10px;
}
.mspan {
	font-size: 10px!important;
	font-family:tahoma, arial, sans-serif;
	display: inline-block;
	text-transform:uppercase;
	font-weight:normal!important;
	color: #000!important;
}
table label {
	text-transform:uppercase;
	font-size:10px;
	font-family:tahoma, arial, sans-serif;
}
#faq_container .jqTransformButton:first-child {
	margin-left:155px;
}
.img_275 {
	background: url("http://static.expressionengine.com/201007/general/bg_img_275.png") no-repeat scroll left bottom transparent;
	padding: 0 0 15px;
}
#upper ul {
	display: block;
	list-style:none;
}
#upper ul li {
	float: right;
	padding: 0 10px;
	color: white;
}
#upper a {
	color:white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	text-decoration:none;
}
#upper a:hover {
	color:#FF7900;
	text-decoration:underline;
}
#intro ul {
	padding:0.5em;
}
#intro ul li {
	background: url(../images/icon-generic-link-list.gif) 14px 12px no-repeat;
	display:block;
	margin-top:1px;
	border-width: 1px 0;
	border-bottom: 1px dotted #ECECEC;
	padding-left:20px;
}
#intro ul li:nth-child(even) {
 background-color: #CCC;
}
#intro ul li a {
	display:block;
	font-weight: bold;
	padding: 6px 16px;
}
#intro a:hover, #intro a:active, #intro a.here:link, #intro a.here:visited {
	text-decoration: none;
}
#footer {
	clear:both;
	width: 960px;
	margin:0 auto;
	background: url("../images/menu_dropdown_bg.png") repeat-x scroll 0 100% #F9F9F9;
	color: #666666;
	padding: 4px;
	-moz-box-shadow:0px 0px 5px #888;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 5px #888;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 5px #888;
	border-radius: 10px;
	border: 1px solid white;
}
#footer-inner {
	background: none repeat scroll 0 0 #F1F1F1;
	min-height: 150px;
}
#footer-inner h3 {
	background: url("../images/module_box_corners.png") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #EEEEEE;
	font-size: 1.5em;
	margin: 4px 0 8px;
	padding: 10px 0 6px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	font-style: normal;
}
#footer-inner h3 a {
	color: #FFFFFF;
	text-decoration:none;
}
#footer-inner div:first-child {
	margin-left: 0;
}
#footer-inner div.col_275 {
	float: left;
	margin-left: 25px;
	width: 275px;
}
#footer-inner div.div_275 {
	width:275px;
	border:1px;
	background-color:#FFF;
}
#footer-inner div.img_275 {
	background: url(../images/bg_img_275.png) no-repeat scroll left bottom transparent;
}
#footer-inner ul li.fmenu {
	background: url(../images/arrow.png) no-repeat scroll left center transparent;
	padding: 2px 24px;
	margin-left: 24px;
	text-align:left;
}
#footer-inner ul li.fmenu a {
	text-decoration: none;
}
#footer-inner ul li.fmenu a:hover {
	color: #F18B01!important;
	text-decoration: underline!important;
}
.footer_area_inner {
	background: url(../images/s5_shadow.png) no-repeat scroll center top transparent;
}
#copyright {
	clear:both;
	background: none repeat scroll 0 0 #666666;
	color:#FFF;
	text-align:center;
	padding: 10px;
	line-height:150%;
}
#menu {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#menu ul.menu li ul li:last-child {
	border-bottom-width:0;
}
#contents .box table {
	margin-left:10px;
	padding-left:10px;
}
img {
	border: 0;
}
