<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{if isset($right) && is_array($right) && count($right)>0}
 {if $right.nav}
<div id="section">
  <ul>
    {foreach $right.nav as $r}
    <li><a id="{$r[0]}" href="{$r[3]}" class="active" title="{$r.2}">{$r[1]}</a>&nbsp;<img src="{$r[3]}" class="rimg" /></li>
    {/foreach}
  </ul>
  <script type="text/javascript">
$(document).ready(function() {
  $("#section ul li a.active", '#right').click(function() {
  	// alert($(this).attr('href'));
    return false;
  }); 
});
</script>
</div>
{/if}
{/if}
